@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import "./colors";

.hackerNews-Container {
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  .icon-open {
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
    fill: $offWhite;
    margin-right: 5px;
  }

  .News-header {
    background-color: $primary1;
    padding: 12px;
  }

  .News-title {
    color: #FFEAD3;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
  }

  .News-url {
    color: $offWhite;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  & > .Comments-List {
    margin-left: 0;
  }
}